<div class="text-center">
    <h3>Update Post:</h3>
    <form class="form new-project-form" id="update-blog">
        <div class="form-group">
            <label for="post-title">Title:</label>
            <input class="form-input" type="text" id="post-title" name="post-title" value="{{title}}"/>
        </div>

        <div class="form-group">
            <label for="post-content">Body:</label>
            <textarea class="form-input" id="post-content" name="post-content" >{{contents}}</textarea>
        </div>

        <input type="hidden" name="post-id" id= "post-id" value="{{id}}">
        <div class="form-group">
            <button type="submit" class="btn btn-primary" id="submit-update">Update</button>
        </div>
    </form>
</div>

<script src="/js/dashboard.js"></script>