header {
    background-color: #0e0309;
}

header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

body {
    background-color: #ebd3ff;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1bbc86;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #1bbc86;
  text-decoration: underline;
}